
// Hero Section
$gray-1: #fcfcfc;
$gray-2: #f9f9f9;
$purple-a9: #5c00adb1;
$purple-a10: #53009eb8;
$purple-a11: #52009aba;


$fontsize: 40px;
$color: color(display-p3 0.771 0.893 0.485);

$amber-1: #16120c;

// button 

$gray-3: #222222;
$gray-4: #2a2a2a;
$gray-5: #313131;
