



.section-container{
    position: relative;
    min-width: 100%;
    min-height: 550px; 
    overflow: hidden;
   
    
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity here */
      }
  }

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
object-fit: cover;
  }

  .watchvideo{
    background-color: transparent;
    border: 2px solid purple;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: white;
        color: black;
    }

  };


       // Dialog 
.videocontent{
  position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 100%;
    height: 100%;
    // z-index: 100;
    
   
    .DialogOverlay {
        background-color: var(--black-a9);
        position: fixed;
        inset: 0;
        animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
      }
      .DialogContent {
        background-color: white;
        border-radius: 6px;
        box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        max-width: 1000px;
        max-height: 100vh;
        padding: 0px;
        animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

        .DialogContent:focus {
            outline: none;
          }
      }
      .IconButton {
        font-family: inherit;
        border-radius: 100%;
        height: 35px;
        width: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--violet-11);
        position: absolute;
        top: 0px;
        right: 0px;
        &:hover{
          background-color: purple;
          color: white;
        }
      }
  
}